:root {
  --color-header: #8E9DCC;
  --color-banner: #D9DBF1;
  --color-timer: #FC9153;
  --text-color: #2D2D2D;
  --text-color2: #F9F9ED;
  --bgcolor: #fdfdf9;
  --text-color3: black; }

:root {
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --body-font-size: .9rem;
  --samll-font-size: .75rem; }
  @media screen and (min-width: 960px) {
    :root {
      --h1-font-size: 2.5rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.5rem;
      --body-font-size: 1rem;
      --samll-font-size: .8rem; } }

*, *::before, *::after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.container-time {
  font-family: 'Roboto', sans-serif; }

.container-presentation {
  font-family: 'Popins', sans-serif; }

.main {
  font-family: 'Open Sans', sans-serif; }

.footer {
  font-family: 'Open Sans', sans-serif; }

.header {
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem; }
  @media screen and (min-width: 960px) {
    .header {
      background-color: var(--color-header);
      padding: 3rem 2rem;
      max-height: 12rem; } }
  .header .logo {
    width: 58rem;
    flex: 0 1 auto; }

.footer {
  background-color: var(--text-color);
  color: var(--text-color2);
  margin: 0;
  text-align: right;
  padding: .1rem 1rem; }
  .footer p {
    margin: 0;
    padding: .5rem 0 0 0; }
    .footer p:nth-child(2) {
      padding-bottom: .5rem; }

.container-banner {
  background-color: var(--color-banner);
  display: flex;
  justify-content: center;
  text-align: center; }
  .container-banner .banner {
    padding: 2.2rem 0; }
    .container-banner .banner .container-time {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--text-color);
      height: 4.5rem;
      margin: 0 3.25rem;
      padding: 0 2rem 0 2rem;
      font-size: 1.7rem;
      color: var(--text-color2);
      border-radius: .5rem; }
      @media screen and (min-width: 480px) {
        .container-banner .banner .container-time {
          font-size: 2rem; } }
      @media screen and (min-width: 960px) {
        .container-banner .banner .container-time {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--text-color);
          border-radius: .5rem;
          height: 4.5rem;
          width: 58rem;
          font-size: 2.5rem;
          color: var(--text-color2); } }
      .container-banner .banner .container-time span {
        margin-left: 1rem;
        color: var(--color-timer); }
    .container-banner .banner .container-presentation {
      color: var(--text-color);
      font-size: 1.4rem;
      max-width: 58rem;
      margin: 1rem 2rem 0 2rem; }
      @media screen and (min-width: 480px) {
        .container-banner .banner .container-presentation {
          font-size: 2rem; } }
      @media screen and (min-width: 960px) {
        .container-banner .banner .container-presentation {
          font-size: 2.9rem;
          max-width: 58rem;
          margin: 1rem 0 0 0; } }

.main {
  background-color: var(--text-color2);
  padding: .3rem 2rem 2rem 2rem; }
  @media screen and (min-width: 960px) {
    .main {
      padding: 1rem 5rem 2rem 5rem; } }
  .main .pages {
    margin: 2rem auto;
    text-align: center;
    width: 200px;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .main .pages .page-number {
      border: 1px solid var(--text-color);
      padding: .5rem .8rem; }

.page-number a {
  text-decoration: none;
  color: var(--text-color); }

.post .post-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0 1rem 0;
  color: var(--text-color); }
  @media screen and (min-width: 960px) {
    .post .post-title {
      font-size: 2rem;
      font-weight: 700;
      margin: 2rem 0; } }

.post .post-text {
  font-size: 1rem;
  color: var(--text-color3); }

.post img {
  display: block;
  margin: 1.75rem auto; }
